<div class="d-flex flex-wrap gap-3 p-2">

    <div class="flex-grow-1 {% if form.nombre.errors %}form-error{% endif %}">
        <label for="nombre">Nombre</label>
        {{ form.nombre }}
    </div>
    <div class="d-flex flex-wrap flex-shrink-1 form-check align-content-end {% if form.literales.errors %}form-error{% endif %}">
        {{ form.literales }}
        <label class="form-check-label fw-bold ms-1 mb-2 mt-1" for="literales">Literales</label>
    </div>

    <div class="d-flex justify-content-center col-12">
        <p class="text-xs font-weight-bolder opacity-7 ms-2">*Atención* Seleccione los años escolares y las menciones correspondientes a la materia.</p>
        <p class="text-xs font-weight-bolder opacity-7 ms-2">*Nota* Si solamente selecciona el año, se tomaran en cuenta todas las menciones de ese año para la materia.</p>
    </div>

<!--Seccion de menciones de CC QI MM - Superior-->
    <div class="d-flex justify-content-center col-12">
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">1er Año</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">CC</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">QI</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">MM</label>
            </div>
        </div>

        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">2do Año</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">CC</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">QI</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">MM</label>
            </div>
        </div>

        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">3er Año</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">CC</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">QI</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">MM</label>
            </div>
        </div>
    </div>

<!--Seccion de menciones de CC QI MM - Inferior-->
    <div class="d-flex justify-content-center col-12 pt-1">
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">4to Año</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">CC</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">QI</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">MM</label>
            </div>
        </div>

        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">5to Año</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">CC</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">QI</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">MM</label>
            </div>
        </div>

        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">6o Año</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">CC</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">QI</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fcustomCheck1">
                <label class="custom-control-label" for="customCheck1">MM</label>
            </div>
        </div>
    </div>


        <div class="d-flex justify-content-center col-12 pt-1">
        <button class="btn btn-primary btm-sm m-0 me-2" type="submit">Guardar</button>
        <button class="btn btn-danger btm-sm m-0" onClick="window.history.back();return false;">Cancelar</button> 
    </div>
</div>
{% block inner_javascripts %}
{% endblock inner_javascripts %}